<div>
  <svg #svg class="svg img-fluid" viewBox="-100 -100 1640 600" (dblclick)="handleSVGDoubleClick($event)">
    <g>
      <g>
        <line class="axis" x1="-5" y1="0" x2="-5" y2="425" style="stroke-width: 4;"></line>
        <line class="axis" x1="-25" y1="405" x2="1440" y2="405" style="stroke-width: 4;"></line>
        <text class="axis-label label-horizontal" x="-5" y="447"> Intensity </text>
        <text class="axis-label label-vertical" x="-35" y="412"> Time </text>
        <g>
          <g *ngFor="let axisLabel of yLableData;  trackBy: trackByLabelData">
            <line class="axis-tick" [attr.x1]="-15" [attr.y1]="axisLabel.y" [attr.x2]="-5" [attr.y2]="axisLabel.y"
              style="stroke-width: 4"></line>
            <text class="axis-tick-label label-vertical" [attr.x]="-26" [attr.y]="axisLabel.labelY">
              {{ axisLabel.label }}
            </text>
          </g>
          <g *ngFor="let xAxis of xLableData;  trackBy: trackByLabelData">
            <line class="axis-tick" [attr.x1]="xAxis.x" [attr.y1]="405" [attr.x2]="xAxis.x" [attr.y2]="420"
              style="stroke-width: 4"></line>
            <text class="axis-tick-label label-horizontal" [attr.x]="xAxis.labelX" [attr.y]="440">
              {{ xAxis.label }}
            </text>
          </g>
        </g>
        <g>
          <g *ngFor="let line of gridLinesY; trackBy: trackByGridLineId">
            <line class="grid-line" [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2"
              style="stroke-width: 1.33333"></line>
          </g>
          <g *ngFor="let line of gridLinesX; trackBy: trackByGridLineId">
            <line class="grid-line" [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2"
              style="stroke-width: 1.33333"></line>
          </g>
        </g>
      </g>
    </g>
    <g>
      <svg width="1440" height="400" viewBox="0 0 1440 400">
        <g>
          <g>
            <ng-container *ngFor="let progressPoint of progressPoints; let i=index; trackBy: trackByProgressPoint">
              <g class="progress">
                <circle class="corner" r="4" style="fill: rgb(60, 135, 255);" [attr.cx]="progressPoint.start.x"
                  [attr.cy]="progressPoint.start.y"></circle>
                <line class="track" style="stroke: rgb(60, 135, 255);stroke-width: 8;" [attr.x1]="progressPoint.start.x"
                  [attr.y1]="progressPoint.start.y" [attr.x2]="progressPoint.end.x" [attr.y2]="progressPoint.end.y">
                </line>
              </g>
            </ng-container>
          </g>
        </g>
      </svg>
      <g>
        <ng-container *ngFor="let progressPoint of progressPoints; let i=index; trackBy: trackByProgressPoint">
          <g>
            <g>
              <defs>
                <radialGradient id="slider-thumb-gradient" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                  <stop offset="0%" style="stop-color: #ADD8E6; stop-opacity: 1;"></stop>
                  <stop offset="70%" style="stop-color: #ADD8E6; stop-opacity: 1;"></stop>
                  <stop offset="100%" style="stop-color: rgb(255,255,255); stop-opacity: 0;"></stop>
                </radialGradient>
              </defs>
              <g class="slider active">
                <path class="slider-track" attr.d="M {{progressPoint.end.x}} 0 v {{height}}"></path>
                <path class="slider-track" attr.d="M 0 {{progressPoint.end.y}} h {{progressPoint.end.x}}"></path>
                <ng-container *ngIf=" i !== progressPoints.length-1">
                  <circle fill="url(#slider-thumb-gradient)" class="slider-thumb-background" r="30"
                    [attr.cx]="progressPoint.end.x" [attr.cy]="progressPoint.end.y"></circle>
                  <circle class="slider-thumb" fill="#3C87FF" r="15" [attr.cx]="progressPoint.end.x"
                    [attr.cy]="progressPoint.end.y" (mouseup)="mouseup($event)" (mousedown)="mousedown($event)"
                    (mousemove)="onPointMove($event, i)"></circle>
                </ng-container>
              </g>
            </g>
          </g>
        </ng-container>
      </g>
    </g>
  </svg>
</div>